fastapi==0.109.2
uvicorn==0.27.0.post1
botbuilder-integration-aiohttp==4.14.8
langchain-core
langchain-community
langchain-openai
langchain
langchain-ollama
langchainhub
azure-cosmos==4.6.0
azure-identity
azure-keyvault-secrets==4.8.0
python-jose==3.3.0
azure-appconfiguration-provider==1.1.0
pydantic-settings
pydantic>=2.0
pydub==0.25.1
python-multipart==0.0.9
azure-cognitiveservices-speech==1.37.0
jsonschema==4.21.1
azure-search-documents
azure-monitor-opentelemetry==1.6.1
opentelemetry-sdk==1.38.0
opentelemetry-api==1.38.0
opentelemetry-instrumentation
opentelemetry-instrumentation-fastapi
PyMuPDF
python-dotenv==1.0.1
google-cloud-firestore 
google-auth
langchain-google-vertexai
langdetect
python-jose[cryptography]
fastapi-azure-auth
httpx
